$pastelColors: (
  grey: #cfcfc4,
  purple: #b39eb5,
  brown: #836953,
  yellow: #fdfd96,
  magenta: #f49ac2,
  orange: #ffb347,
  green: #7d7,
  darkGreen: #03c03c,
  blue: #aec6cf,
  darkblue: #779ecb,
  red: #ff6961,
  darkRed: #c23b22,
  white: #fff,
  black: #000
);
