@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* :focus {
  outline: 0;
}

body {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  color: map-get($pastelColors, blue);
  font-family: 'Roboto', sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  margin: 10px 0;
}
