<div>
  <h1>{{ home.content }}</h1>
  <h1>{{ home.content | l33t }}</h1>
  <div class="c-button-round red" ng-click="home.decrementCounter()">-</div>
  <div class="c-display">{{ home.count }}</div>
  <div class="c-button-round blue" ng-click="home.incrementCounter()">+</div>
  <div class="directives">
    <info-box class="directive"></info-box>
    <info-box class="directive" funny></info-box>
    <info-box-cmp class="directive"></info-box-cmp>
  </div>
  <input-box></input-box>

  <div class="c-message-transform">
    <message-l33t></message-l33t>
    <message-reversed></message-reversed>
    <message-without-vowels></message-without-vowels>
  </div>

  <div ng-show="home.countries.length" ng-repeat="country in home.countries | orderBy: 'capital'")>{{ country.capital }} ({{ country.name }})</div>
</div>
