@import '../../styles/colors';

.login-container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 200px;
}

.login-form {
  display: flex;
  flex-direction: column;

  input {
    padding: 8px 5px;
    border: 2px solid map-get($pastelColors, green);
    border-radius: 5px;
    font-size: 1rem;
  }

  input[type="submit"] {
    color: white;
    cursor: pointer;
    background-color: map-get($pastelColors, green);
  }

  input + input {
    margin-top: 10px;
  }
}
