@import '../../styles/colors';

.d-info-box-cmp {
  padding: 15px 0;
  border: 3px solid map-get($pastelColors, blue);
  margin: 20px;

  & > div {
    color: map-get($pastelColors, blue);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}
